In [10]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter

In [11]:
data = pd.read_csv('data.csv')
data.head(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015

In [12]:
len(data)

1890

# Предобработка датасета

In [78]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [81]:
data = pd.read_csv('data.csv')
data[data.budget == data.budget.max()].original_title

answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [82]:
data = pd.read_csv('data.csv')
data[data.runtime == data.runtime.max()].original_title

answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [83]:
data = pd.read_csv('data.csv')
data[data.runtime == data.runtime.min()].original_title

answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [84]:
data = pd.read_csv('data.csv')
round(data.runtime.mean(),2)

answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [85]:
data = pd.read_csv('data.csv')
round(data.runtime.median(),2)

answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [86]:
data = pd.read_csv('data.csv')
data['revenue2'] = data['revenue'] - data['budget']
data[data.revenue2 == data.revenue2.max()].original_title

answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [87]:
data = pd.read_csv('data.csv')
data['revenue2'] = data['revenue'] - data['budget']
data[data.revenue2 == data.revenue2.min()].original_title

answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [88]:
data = pd.read_csv('data.csv')
len(data[data.revenue > data.budget])

answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [89]:
data = pd.read_csv('data.csv')
mx = data[(data.release_year == 2008)]
mx[mx.revenue == mx.revenue.max()].original_title

answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [90]:
data = pd.read_csv('data.csv')
data['revenue2'] = data['revenue'] - data['budget']
mx = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
mx[mx.revenue2 == mx.revenue2.min()].original_title

answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [91]:
df = pd.read_csv('data.csv')
s=[]
df['genres'] = df.genres.apply(lambda x: x.split('|'))
for i in df['genres']:
    for j in i:
        s.append(j)        
Counter(s).most_common(1)

answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [92]:
df = pd.read_csv('data.csv')
df = df[data.revenue - data.budget > 0]

s=[]
df['genres'] = df.genres.apply(lambda x: x.split('|'))
for i in df['genres']:
    for j in i:
        s.append(j)        
Counter(s).most_common(1)

answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [93]:
data = df = pd.read_csv('data.csv')
data.director.value_counts()

answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [94]:
df = pd.read_csv('data.csv')
data[data.revenue - data.budget > 0].director.value_counts()

answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [95]:
data = pd.read_csv('data.csv')
data['revenue2'] = data['revenue'] - data['budget']
data.groupby(['director'])['revenue2'].sum().sort_values(ascending = False)

answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [96]:
data = pd.read_csv('data.csv')
data['profit_actors'] = (data['revenue'] - data['budget'])
actors_unique = set(data.cast.apply(lambda x: x.split('|')).sum())

dist_actor = dict.fromkeys(actors_unique, 0)
for key, val in dist_actor.items():
    curr_df = data[data['cast'].str.contains(key)]
    dist_actor[key] += curr_df['profit_actors'].sum()
    
actor_dist = dict(zip(dist_actor.values(), dist_actor.keys()))
actor_dist[max(dist_actor.values())]

answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [97]:
data = pd.read_csv('data.csv')
data['profit_actors'] = (data['revenue'] - data['budget'])

dist_actor = dict.fromkeys(actors_unique, 0)

df_prof_2012 = data[(data['release_year'] == 2012)]
for key, val in dist_actor.items():
    curr_df = df_prof_2012[ df_prof_2012['cast'].str.contains(key) ]
    dist_actor[key] += curr_df['profit_actors'].sum()

actor_dist = dict(zip(dist_actor.values(), dist_actor.keys()))
actor_dist[min(dist_actor.values())]
    
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [98]:
data = pd.read_csv('data.csv')
df = data[data.budget > data.budget.mean()]
actors_unique = df.cast.apply(lambda x: x.split('|')).sum()
Counter(actors_unique).most_common()

answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [99]:
data = pd.read_csv('data.csv')
df = data[data.cast.str.contains('Nicolas Cage')]

genres_unique = df.genres.apply(lambda x: x.split('|')).sum()
Counter(genres_unique).most_common(1)

answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [100]:
data = pd.read_csv('data.csv')

comp_unique = data.production_companies.apply(lambda x: x.split('|')).sum()
Counter(comp_unique).most_common(1)

answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [101]:
data = pd.read_csv('data.csv')
df = data.query('release_year == 2015')
comp_unique = df.production_companies.apply(lambda x: x.split('|')).sum()
Counter(comp_unique).most_common(1)

answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [102]:
data = pd.read_csv('data.csv')

df = data[data.genres.str.contains('Comedy')]
comp_unique = df.production_companies.apply(lambda x: x.split('|')).sum()

dist_comp = dict.fromkeys(comp_unique, 0)
for key, val in dist_comp.items():
    curr_df = df[df['production_companies'].str.contains(key)]
    dist_comp[key] += curr_df['revenue'].sum()
    
comp_dist = dict(zip(dist_comp.values(), dist_comp.keys()))
comp_dist[max(dist_comp.values())]

answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [103]:
data = pd.read_csv('data.csv')
df = data[data.release_year == 2012]
comp_unique = df.production_companies.apply(lambda x: x.split('|')).sum()

dist_comp = dict.fromkeys(comp_unique, 0)
for key, val in dist_comp.items():
    curr_df = df[df['production_companies'].str.contains(key)]
    dist_comp[key] += curr_df['revenue'].sum()
    
comp_dist = dict(zip(dist_comp.values(), dist_comp.keys()))
comp_dist[max(dist_comp.values())]

answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [104]:
data = pd.read_csv('data.csv')
data['profit'] = data['revenue'] - data['budget']
df = data[data.production_companies.str.contains('Paramount Pictures')]
df.groupby(['original_title'])['profit'].sum().sort_values(ascending = True)

answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [105]:
data = pd.read_csv('data.csv')
data['profit'] = data['revenue'] - data['budget']
data.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)

answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [106]:
data = pd.read_csv('data.csv')
data['profit'] = data['revenue'] - data['budget']
warner_df = data[data.production_companies.str.contains('Warner Bros')]
warner_df.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)

answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [107]:
data = pd.read_csv('data.csv')
data['month'] = [release_date.split('/')[0] for release_date in data.release_date]
df = data.groupby(['month'])['imdb_id'].count().sort_values(ascending = False)

answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [108]:
data = pd.read_csv('data.csv')
data['month'] = [release_date.split('/')[0] for release_date in data.release_date]
df = data.groupby(['month'])['imdb_id'].count().sort_values(ascending = False)
df.loc[['6', '7', '8']].sum()

answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [109]:
data = pd.read_csv('data.csv')
data['month'] = [release_date.split('/')[0] for release_date in data.release_date]
df = data.pivot_table(columns = 'director', index = 'month', values = 'imdb_id', aggfunc = 'count')
df.loc[['12','1','2']].sum().sort_values(ascending = False)

answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [110]:
data = pd.read_csv('data.csv')
data['month'] = [release_date.split('/')[0] for release_date in data.release_date]
best_month = []
years = set(list(data.release_year))
data['profit'] = data['revenue'] - data['budget']
for i in years:
    df = data[data.release_year == i]
    best_month.append(df.groupby(['month'])['profit'].sum().idxmax())
Counter(best_month).most_common(1)

answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [111]:
data = pd.read_csv('data.csv')
length = []
for i in data.original_title:
    length.append(len(i))
data['length'] = length
data['counter'] = 1

comp_unique = data.production_companies.apply(lambda x: x.split('|')).sum()

len_comp = dict.fromkeys(comp_unique, 0)
for key, val in len_comp.items():
    curr_df = data[data['production_companies'].str.contains(key)]
    len_comp[key] += curr_df['length'].sum()
    
df_len_comp = pd.Series(len_comp).reset_index()
df_len_comp.columns = ['company', 'len']

count_comp = dict.fromkeys(comp_unique, 0)
for key, val in count_comp.items():
    curr_df = data[data['production_companies'].str.contains(key)]
    count_comp[key] += curr_df['counter'].sum()

df_count_comp = pd.Series(count_comp).reset_index()
df_count_comp.columns = ['company', 'count']

join = df_len_comp.merge(df_count_comp, on = 'company', how = 'left')
join['average'] = join['len'] / join ['count']
join[join.average == join.average.max()]



answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [112]:
data = pd.read_csv('data.csv')
length = []
for i in data.original_title:
    length.append(len(i.split()))
data['length'] = length
data['counter'] = 1

comp_unique = data.production_companies.apply(lambda x: x.split('|')).sum()

len_comp = dict.fromkeys(comp_unique, 0)
for key, val in len_comp.items():
    curr_df = data[data['production_companies'].str.contains(key)]
    len_comp[key] += curr_df['length'].sum()
    
df_len_comp = pd.Series(len_comp).reset_index()
df_len_comp.columns = ['company', 'len']

count_comp = dict.fromkeys(comp_unique, 0)
for key, val in count_comp.items():
    curr_df = data[data['production_companies'].str.contains(key)]
    count_comp[key] += curr_df['counter'].sum()

df_count_comp = pd.Series(count_comp).reset_index()
df_count_comp.columns = ['company', 'count']

join = df_len_comp.merge(df_count_comp, on = 'company', how = 'left')
join['average'] = join['len'] / join ['count']
join[join.average == join.average.max()]


answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [113]:
data = pd.read_csv('data.csv')

unique = data.original_title.apply(lambda x: x.lower().split()).sum()
len(set(unique))

answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [114]:
data = pd.read_csv('data.csv')

df = data.sort_values(by = 'vote_average', ascending = False)
df.original_title.head(round(len(data)*0.01))

answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [115]:
import itertools
import collections

data = pd.read_csv('data.csv')

_actors=Counter()
for i, d in data.iterrows():
    _a = d.cast.split('|')
    _actors.update([ x for x in itertools.combinations(_a, 2)])
_actors.most_common(5)

answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [116]:
data = pd.read_csv('data.csv')

data['profit'] = data['revenue'] - data['budget']

count = data.groupby(['director'])['imdb_id'].count().reset_index()
count_profit = data[data.profit > 0].groupby(['director'])['imdb_id'].count().reset_index()

join = count.merge(count_profit, on = 'director', how = 'left')
join.columns = ['director' , 'count', 'count_profit']
join['itog'] = join ['count_profit'] /  join['count']
join[join.itog == 1].sort_values(by = 'count_profit', ascending = False)

answer_ls.append(4)

# Submission

In [117]:
len(answer_ls)

36

In [118]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4